body {
  margin: 0px 0px;
}

.main-header {
  background-color: #fc6f03;
  text-align: center;
  color: #FFF;
  padding: 5px;
  margin-bottom: 10px;
}

.heading h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 2.5em;
}

.contact p{
  font-size: 1.25em;
  margin: 5px 0px 0px 0px;
}

.icons i{
  margin-right: 0.25em;
}

.fa-linkedin-square {
  margin-left: 0.2em;
  color: #0072b1;
  font-size: 3.5em;
}

.fa-linkedin-square:hover {
  color: #0085cf;
  transition: 400ms;
}

.fa-github {
  color: #000;
  font-size: 3.5em;
}

.fa-github:hover {
  color: #444;
  transition: 400ms;
}

.main-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.main-links a {
  color: #FFF;
  background-color: #fc6f03;
  text-decoration: none;
  padding: 1em 5em;
  font-size: 1.40em;
  box-shadow: 5px 5px 8px #BBB;
}

.main-links a:hover {
  color: #FFF;
  background-color: #f5a742;
  text-decoration: underline;
  transition: 400ms;
}

.profile-main {
  background-image: linear-gradient(#ffc56e, #f5a742);
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.profile-objective {
  font-size: 20px;
  padding: 0px 20%;
}

.profile-pic img {
  margin-top: 10px;
  width: 60%;
  height: 60%;
}

.resume-background {
    padding-top: 20px;
    background-image: linear-gradient(#ffc56e, #f5a742);
}

.resume-download {
  text-align: center;
  font-size: 2.25em;
}

.resume-download a {
  color: #000;
  text-decoration: none;
}

.resume-content {
  display: flex;
  text-align: left;
  padding: 20px 10%;
}

h2 {
  margin-bottom: 1.7em;
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  margin-left: 10px;
  font-size: 1.25em;
}

p {
  font-size: 1.10em;
}

.resume p {
  margin-left: 20px;
}

.education-skills p {
  margin-left: 20px;
  display: inline;
}

li {
  font-size: 1.10em;
  margin-bottom: 10px;
}

.resume {
  margin-right: 5%;
  border: 2px solid black;
  padding: 0px 50px;
}

.resume-content .fa {
  color: #0000FF;
}

.fa-h-square {
  font-size: 1.40em;
}

.education-skills {
  border: 2px solid black;
  padding: 0px 74px;
}

.education-heading {
  margin-bottom: 1.60em;
}

.fa-gas-pump {
  font-size: 1.40em;
}

.fa-shopping-cart {
  font-size: 1.40em;
}

.fa-graduation-cap {
  font-size: 1.40em;
}

.skills-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 0px;
  margin-top: 0px;
}

.sub-skills {
  list-style-type: circle;
}

.sub-skills li {
  display: inline;
}

.certifications-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

.certifications {
  margin-left: 20px;
}

.languages-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

.language-description {
  margin-left: 20px;
}

.projects {
  background-image: linear-gradient(#ffc56e, #f5a742);
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 40px 0px;
}

.project-description {
  display: flex;
  text-align: left;
  padding: 20px 5%;
  border: 2px solid #000;
}

.description {
  margin-right: 5%;
  margin-left: 10%;
}

.phishing-game img{
  margin-top: 10px;
  width: 700px;
  height: 400px;
  box-shadow: 5px 5px 8px #BBB;
}

@media screen and (max-width: 1500px) {

  .resume-content {
    padding: 20px 20px;
  }

  .education-skills {
    padding: 0px 67px;
  }
}

@media screen and (max-width: 1250px) {

  .phishing-game img {
    width: 400px;
    height: 250px;
  }

  .description {
    margin-left:0%;
  }

  .project-description {
    padding: 20px 2%;
  }

  .resume {
    padding: 0px 10px;
  }

  .education-skills {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 875px) {

  .main-links {
    display: block;
  }

  .main-links a{
    text-align: center;
    display: block;
  }

  .profile-objective {
    font-size: 16px;
  }
  .resume-content {
    display: block;
    padding: 20px;
  }

  .resume {
    margin-right: 0%;
  }

  .description {
    margin-right:0%;
  }

  .project-description {
    display: block;
    padding: 20px 5%;
  }

  .project-display {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {

  .phishing-game img {
    width: 250px;
    height: 125px;
  }
}
