.linkContainer{display:flex;justify-content:space-around}.linkContainer a{text-decoration:none;color:#009bff;padding:0 5px}.linkContainer a:hover{opacity:.7}.titleLinkContainer a{color:#00d7ff;font-size:20px;padding:0}
