.bannerImageContainer{background-color:#00d9ffbe;box-shadow:10px 5px 5px 5px #c8c8c8;margin-bottom:50px}.image{padding:10px;text-align:center}.contentContainerHome{margin-bottom:50px;text-align:center}
